
$color:(
    main:#372019,
    sub:#774535,
    fz:#474747,
    bg:#ebebeb,
    light:#fff,
    dark:#000,
    footerfz:#BE9063,
);
$cols:24;
$grid_gutter:40px;
$gutter_num:10;
$container_width:1200px;
$header_height:100px;
$header_height_md:60px;
$limit_width:44px;
$limit_line_height:5px;